.wrapper{

}

.container__posts{
}

.ul__posts{
    list-style-type: none;
    padding: 0;
    margin: auto;
    width: 50%;
}
.container__post{
    background-color: #dee9eb;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 2px;
}
.post{
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #000;
}
.post__title{
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin: 5px 0;
    padding: 0;
}
.post__body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
}
.posts__button {
    width: 200px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.container__button{
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
}

@media screen and (max-width: 1400px) {
    .ul__posts {
        width: 60%;
    }
}
@media screen and (max-width: 1200px) {
    .ul__posts {
        width: 80%;
    }
}
@media screen and (max-width: 750px) {
    .ul__posts {
        width: 100%;
    }
}